
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%= yield :sidebar %>
          </ul>
      </li>
      <li id="link-to-cart" data-hook><%= link_to Spree.t(:cart), '/cart' %></li>
      <li id="search-bar" data-hook>
        <%= render :partial => 'spree/shared/search' %>
      </li>
    </ul>
  </div>
  <script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>
</nav>
